<style type="text/css" scoped>
  #optin {
    color: black;
    background-color: #f2f3f3;
    font-size: 15px;
    text-align: center;
    padding: 10px 28px;
    line-height: 1em;
    box-sizing: border-box;
    display: block;
    border-radius: 5px;
    box-shadow: none;
    margin-bottom: 30px;
  }

  #optin h1 {
    font-size: 25px;
    font-weight: 800;
    margin: 0%;
    padding-bottom: 0.2em;
  }
  #optin h2 {
    padding-top: 0;
    font-size: 18px;
    margin: 0;
    padding-bottom: 0.3em;
  }
  #optin p {
    color: whitesmoke;
    font-size: 10px;
    color: black;
  }
  .mauticform-button {
    background-color: #d9534f !important;
  }
</style>

<div id="optin">
  <h1>Hast du Interesse Freiberufler zu werden?</h1>
  <h2>Ich begleite dich auf dem Weg zur Freiberuflichkeit.</h2>
  <script
    type="text/javascript"
    src="//www.infolance.de/form/generate.js?id=1"
  ></script>
  <p>
    Ich sende dir regelmässig werfvolle Informationen zum Thema
    Freiberuflichkeit. Du erhältst kein Spam. Ich behandle deine E-Mailadresse
    wie mein bestes Geheimnis.
  </p>
</div>
